[submodule "FPGA-UART-I2C"]
	path = FPGA-UART-I2C
	url = https://github.com/benC123321/FPGA-UART-I2C
[submodule "Basys-3_UART_to_I2C_Vivado"]
	path = Basys-3_UART_to_I2C_Vivado
	url = https://github.com/benC123321/Basys-3_UART_to_I2C_Vivado
